body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,figure,figcaption{ margin:0; padding:0;}

h1,h2,h3,h4,h5,h6,b,strong{ font-size: 100%; font-weight: normal;}

i,em{ font-style: normal;}

li{ list-style: none;}

a{ color: #333; text-decoration: none;}

body,html{ 
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  color: #333; 
  height: 100%; 
  background-color: #f8f8f9 !important;}

input{ outline: none;}

.clearfix{ *zoom:1;}

.clearfix:after{ content: ''; display:block; height: 0; overflow: hidden; clear: both;}
